<section>
  <div class="data-privacy-main">
    <app-header></app-header>
    <div class="data-privacy-content">
      <div class="section">
        <h1>Data privacy</h1>
        <p>
          Thank you for visiting my website. At "Videoflix", I take your privacy
          seriously. This data privacy outlines how I collect, use, and protect
          your personal information when you visit my website.
        </p>
      </div>

      <div class="section">
        <h2>Information I collect</h2>
        <p>
          When you visit my website, I may collect certain information
          automatically, including your IP address, browser type, operating
          system, referring URLs, and other technical information. I may also
          collect information you voluntarily provide to me, such as your name,
          email address, or any other information you submit through my contact
          forms or other communication channels.
        </p>
      </div>

      <div class="section">
        <h2>How I use your information</h2>
        <p>
          I use the information I collect to improve my website's functionality,
          analyze trends, administer the site, and gather demographic
          information. I may also use your information to respond to your
          inquiries, provide you with requested information or services, or
          communicate with you about updates to my website or other relevant
          information.
        </p>
      </div>

      <div class="section">
        <h2>Cookies</h2>
        <p>
          My website may use cookies and similar tracking technologies to
          enhance your browsing experience and analyze usage patterns. You can
          choose to disable cookies through your browser settings, but please
          note that doing so may affect the functionality of my website.
        </p>
      </div>

      <div class="section">
        <h2>Third-party links</h2>
        <p>
          My website may contain links to third-party websites. Please note that
          I am not responsible for the privacy practices or content of these
          third-party sites. I encourage you to review the privacy policies of
          these websites before providing any personal information.
        </p>
      </div>

      <div class="section">
        <h2>Data security</h2>
        <p>
          I am committed to protecting the security of your personal
          information. I implement appropriate technical and organizational
          measures to safeguard your data against unauthorized access,
          disclosure, alteration, or destruction.
        </p>
      </div>

      <div class="section">
        <h2>Changes to this Data Privacy</h2>
        <p>
          I reserve the right to update or modify this Data Privacy at any time
          without prior notice. Any changes will be effective immediately upon
          posting on this page. I encourage you to review this Data Privacy
          periodically for any updates.
        </p>
      </div>

      <div class="section">
        <h2>Contact me</h2>
        <p>
          If you have any questions or concerns about this Data Privacy or my
          data practices, please contact me at
          <a href="mailto:grund7@gmail.com">grund7&#64;gmail.com</a>.
        </p>
      </div>
    </div>
  </div>
</section>
