<section>
  <div class="rp-main">
    <app-header ngSkipHydration></app-header>
    <div class="rp-content">
      <form (ngSubmit)="onSubmit()">
        <h1>Reset password</h1>
        <p>Create a new password for your Videoflix account.</p>

        <div class="input-container">
          <input
            class="input-default"
            type="password"
            name="password"
            placeholder=" "
            [(ngModel)]="password"
          />
          <label for="password">Enter a Password</label>
          <img
            src="../../../assets/img/icons/visibility.svg"
            alt="password visibility"
            class="loginPwVisibility"
          />
        </div>

        <div class="input-error-container">
          <div class="input-container">
            <input
              class="input-default"
              type="password"
              name="confirmPassword"
              placeholder=" "
              [(ngModel)]="confirmPassword"
            />
            <label for="confirmPassword">Confirm Password</label>
            <img
              src="../../../assets/img/icons/visibility.svg"
              alt="password visibility"
              class="loginPwVisibility"
            />
          </div>
          <div class="input-error" [ngClass]="{ active: matchError }">
            <img
              src="../../../assets/img/icons/warning.svg"
              alt="password-match-warning"
            />
            <p>Passwords must match.</p>
          </div>
        </div>
        <button class="btn-default" type="submit">Reset my password</button>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</section>
