<section>
  <div class="rp-main">
    <app-header ngSkipHydration></app-header>
    <div class="rp-content">
      <form (ngSubmit)="onSubmit()" *ngIf="!formSubmitted">
        <h1>Reset password</h1>
        <p>Create a new password for your Videoflix account.</p>

        <div class="input-container">
          <input
            class="input-default"
            type="password"
            name="password"
            placeholder=" "
            [(ngModel)]="password"
            #passwordInput="ngModel"
          />
          <label for="password">Enter a Password</label>
          <img
            src="../../../assets/img/icons/visibility.svg"
            alt="password visibility"
            class="loginPwVisibility"
          />
        </div>

        <div class="input-error-container">
          <div class="input-container">
            <input
              class="input-default"
              type="password"
              name="confirmPassword"
              placeholder=" "
              [(ngModel)]="confirmPassword"
              #confirmPasswordInput="ngModel"
            />
            <label for="confirmPassword">Confirm Password</label>
            <img
              src="../../../assets/img/icons/visibility.svg"
              alt="password visibility"
              class="loginPwVisibility"
            />
          </div>
          <div class="input-error" [ngClass]="{ active: matchError }">
            <img
              src="../../../assets/img/icons/warning.svg"
              alt="password-match-warning"
            />
            <p>Passwords must match.</p>
          </div>
        </div>
        <button
          class="btn-default"
          type="submit"
          [disabled]="!password || !confirmPassword"
        >
          Reset my password
        </button>
      </form>

      <div class="container" *ngIf="formSubmitted">
        <h1>Password reset</h1>
        <p>Your password has been successfuly reset.</p>
        <p>You can now log in with your new password.</p>
        <button
          class="btn-default"
          [routerLink]="['/login/']"
          routerLinkActive="router-link-active"
        >
          Go to Login
        </button>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
