@import "../shared/style/colors.scss";

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  .sp-main {
    width: 100%;
    max-width: 1440px !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8)
      ),
      url("../../assets/img/background/startpage_bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

    .sp-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      color: white;
      gap: 24px;

      p:first-of-type {
        font-size: 24px;
        font-weight: 500;
      }

      p:last-of-type {
        font-size: 18px;
        font-weight: 400;
      }

      .sign-up-form {
        display: flex;
        gap: 16px;

        input {
          width: 360px;
          border-radius: 40px;
        }
      }
    }
  }
}
