<section>
  <div class="sp-main">
    <app-header></app-header>
    <div class="sp-content">
      <h1>Movies, TV shows, and more</h1>
      <p>Watch whenever you want wherever you want</p>
      <p>Enter you email to create or restart your subscription</p>
      <div class="sign-up-form">
        <div class="input-container">
          <input
            type="email"
            id="email"
            class="input-default"
            placeholder=" "
            required
          />
          <label for="email">Email Address</label>
        </div>
        <button class="btn-default" [routerLink]="['/signup']">
          Sign up >
        </button>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
