@import "../shared/style/colors.scss";

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.95);

  .sp-main {
    width: 100%;
    max-width: 1440px !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)),
      url("../../assets/img/background/startpage_bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

    .sp-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      color: white;
      gap: 24px;
      padding: 0 32px;

      p:first-of-type {
        font-size: 24px;
        font-weight: 500;
      }

      p:last-of-type {
        font-size: 18px;
        font-weight: 400;
      }

      .sign-up-form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        width: 100%;

        .input-error-container {
          width: unset;
        }
        .input-container {
          input {
            border: 1px solid $color-white;
            color: $color-white;

            &:focus,
            &:not(:placeholder-shown) {
              & + label {
                top: 2px !important;
              }
            }
          }

          label {
            top: 16% !important;
            color: $color-white;
          }
        }

        .btn-default {
          &:disabled {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.intro-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: $color-black;

  .logo-animation {
    width: 80vw;
    z-index: 12;
    animation: growAnimation 3s ease-in-out;
  }
}

@keyframes growAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .sp-content {
    padding: 0 24px !important;
  }

  h1 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 29px !important;
  }

  .sp-content p:first-child {
    font-size: 19px !important;
  }

  .sp-content p:last-child {
    font-size: 16px !important;
  }
}

@media (max-width: 500px) {
  .sp-content p {
    text-align: center !important;
  }

  .sign-up-form {
    flex-direction: column;
    gap: 32px !important;
  }

  .input-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    box-sizing: border-box !important;
  }

  .input-container input {
    box-sizing: border-box !important;
  }
}

@media (max-width: 400px) {
  .sp-content {
    padding: 0 16px !important;
  }
}
