<section>
  <div class="fp-main">
    <app-header ngSkipHydration></app-header>
    <div class="fp-content">
      <div class="container">
        <h1>Forgot your password?</h1>
        <p>
          We will send you an email with instructions to reset your password.
        </p>
        <form (ngSubmit)="onSubmit()">
          <div class="input-error-container">
            <div class="input-container">
              <input
                class="input-default"
                type="email"
                name="email"
                placeholder=" "
                [(ngModel)]="email"
                (ngModelChange)="onEmailChange($event)"
              />
              <label for="email">Email Address</label>
            </div>
            <div class="input-error" [ngClass]="{ active: emailError }">
              <img
                src="../../../assets/img/icons/warning.svg"
                alt="email-format-warning"
              />
              <p>Invalid email format.</p>
            </div>
          </div>

          <button class="btn-default" type="submit">Send Email</button>
        </form>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
