<section>
  <div class="fp-main">
    <app-header ngSkipHydration></app-header>
    <div class="fp-content">
      <form>
        <h1>Forgot your password?</h1>
        <p>
          We will send you an email with instructions to reset your password.
        </p>
        <input class="input-default" type="email" placeholder="Email Address" />
        <div class="valid-mail-error">
          <img
            src="../../../assets/img/icons/warning.svg"
            alt="password-match-warning"
          />
          <p>Please enter a valid email address.</p>
        </div>
        <button class="btn-default">Send Email</button>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</section>
