@import "../shared/style/colors.scss";

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.95);
  overflow: hidden;

  .videoplayer-main {
    width: 100%;
    max-width: 1440px !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $color-black;

    .videoplayer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      color: white;
      gap: 24px;

      .video-container {
        width: 100%;
        max-width: 1440px;
        // height: 100%;
        margin: 0 auto;
        background: $color-black;
        color: $color-white;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 60px;
        box-sizing: border-box;

        .video-header {
          position: absolute;
          left: 0;
          right: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 108px;
          padding: 0 44px;
          box-sizing: border-box;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

          img {
            width: 48px;
            height: auto;

            &:first-child {
              cursor: pointer;
            }

            &:last-child {
              width: 36px;
            }
          }
        }

        .video-wrapper {
          width: 100%;
          height: 100%;

          video {
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            border-radius: 10px;
            cursor: pointer;
          }

          .progress-bar-container {
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 16px;
            padding: 0 24px;
            box-sizing: border-box;

            .progress-container {
              flex: 1;
              height: 10px;
              background-color: $color-grey;
              cursor: pointer;
              position: relative;

              .progress-bar {
                height: 100%;
                background-color: $color-white;
              }

              .progress-hover {
                height: 100%;
                background-color: #ffffff66;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
              }
            }

            span {
              display: inline;
            }
          }

          .controls {
            position: absolute;
            bottom: -50px;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 24px;
            box-sizing: border-box;
            margin-top: 10px;
            width: 100%;

            .control-buttons {
              position: relative;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-top: 8px;

              .btns-left {
                display: flex;
                gap: 12px;

                img {
                  width: 32px;
                  height: auto;
                }

                .volume-container {
                  position: relative;
                  display: inline-block;

                  .no-sound-menu {
                    position: absolute;
                    right: -156px;
                    top: 50%;
                    transform: translateY(-50%);
                  }

                  .volume-slider {
                    position: absolute;
                    right: -116px;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 5px;
                    z-index: 10;

                    input[type="range"] {
                      appearance: none;
                      width: 100px;
                      position: relative;
                      background-color: transparent;

                      &::-webkit-slider-runnable-track {
                        background-color: #b5b5b5 !important;
                        height: 5px;
                        position: relative;
                        top: -5px;
                      }

                      &::-webkit-slider-thumb {
                        appearance: none;
                        background-color: $color-white;
                        border: 2px solid $color-white;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        cursor: pointer;
                        position: relative;
                        top: -5px;
                      }

                      &::-moz-range-track {
                        background: #b5b5b5;
                        height: 5px;
                        position: relative;
                        top: -5px;
                      }

                      &::-moz-range-thumb {
                        background: $color-white;
                        border: 2px solid $color-white;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        cursor: pointer;
                        position: relative;
                        top: -5px;
                      }
                    }
                  }
                }
              }

              .video-title {
                font-size: 24px;
                font-weight: 700;
              }

              .btns-right {
                position: relative;
                display: flex;
                justify-content: flex-end;
                gap: 12px;
                width: 164px;

                .resolution-menu {
                  position: absolute;
                  right: 80px;
                  top: 2px;
                  z-index: 10;

                  ul {
                    list-style: none;
                    padding: 4px 0 0 0;
                    margin: 0;
                    display: flex;
                    gap: 8px;

                    li {
                      cursor: pointer;
                      text-align: center;

                      &.selected {
                        font-weight: bold;
                      }

                      &:last-child {
                        border-bottom: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .controls img {
          width: 24px;
          height: auto;
          cursor: pointer;
        }
      }
    }
  }
}

.video:fullscreen + .progress-bar-container,
.video:fullscreen + .controls {
  display: flex !important;
}

.video:fullscreen {
  z-index: 1 !important;
}

video::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}

.video-container:fullscreen {
  .controls {
    display: flex;
  }
}

@media (max-width: 850px) {
  .btns-left,
  .btns-right {
    gap: 8px !important;

    img {
      width: 26px !important;
    }
  }

  .btns-right {
    width: 128px;
  }

  .no-sound-menu {
    right: -72px !important;
    width: 64px;
    p {
      font-size: 12px;
    }
  }

  .video-title {
    font-size: 18px !important;
    font-weight: 500 !important;
  }

  .resolution-menu {
    right: 68px !important;
    ul {
      gap: 4px;
      li {
        font-size: 12px !important;
      }
    }
  }
}

@media (max-width: 650px) {
  .video-title {
    position: absolute;
    left: 208px;
    top: 50%;
    transform: translateY(-40%);
    width: 168px;
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: unset !important;
    margin-top: -8px !important;
    gap: unset !important;
    gap: 0 !important;
  }
}

@media (max-width: 500px) {
  .video-title {
    display: none;
  }
}

@media (max-width: 350px) {
  .no-sound-menu {
    display: none;
  }
}

@media (max-height: 575px) {
  .video-container {
    padding: unset !important;

    video {
      height: 100%;
    }
  }
}

@media (min-aspect-ratio: 7 / 4) {
  .video-container {
    position: unset !important;
  }

  .progress-bar-container {
    bottom: 50px !important;
  }

  .controls {
    bottom: 10px !important;
  }
}
