@import "../shared/style/colors.scss";

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  .videoplayer-main {
    width: 100%;
    max-width: 1440px !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $color-black;

    .videoplayer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      color: white;
      gap: 24px;

      .video-container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        background: #000;
        color: #fff;
        padding: 20px;
        border-radius: 10px;

        .video-player {
          position: relative;
          width: 100%;

          video {
            width: 100%;
            border-radius: 10px;
          }
        }

        .progress-bar-container {
          display: flex;
          align-items: center; // Zentriert die Items vertikal
          justify-content: space-between; // Stellt sicher, dass der Platz zwischen den Elementen verteilt wird
          width: 100%;
          gap: 16px;

          .progress-container {
            flex: 1; // Stellt sicher, dass die Fortschrittsleiste den verbleibenden Platz einnimmt
            height: 10px;
            background-color: $color-grey;
            cursor: pointer;
            position: relative;

            .progress-bar {
              height: 100%;
              background-color: $color-white;
            }

            .progress-hover {
              height: 100%;
              background-color: #ffffff66;
              position: absolute;
              top: 0;
              left: 0;
              pointer-events: none;
            }
          }

          span {
            display: inline; // Sicherstellen, dass das Span-Element inline bleibt
          }
        }

        .controls {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-top: 10px;

          .control-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 8px;

            .btns-left {
              display: flex;
              gap: 12px;

              img {
                width: 32px !important;
                height: auto;
              }
            }

            .video-title {
              font-size: 24px;
              font-weight: 700;
            }

            .btns-right {
              display: flex;
              justify-content: flex-end;
              gap: 12px;
              width: 164px;
            }
          }
        }

        .controls img {
          width: 24px;
          height: auto;
          cursor: pointer;
        }
      }
    }
  }
}

// .controls {
//   position: absolute;
//   bottom: 40px;
//   left: 0;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   gap: 10px;
// }

// .controls button {
//   padding: 10px 20px;
//   font-size: 16px;
//   cursor: pointer;
// }
