@import "../shared/style/colors.scss";

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  .videoplayer-main {
    width: 100%;
    max-width: 1440px !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $color-black;

    .videoplayer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      color: white;
      gap: 24px;

      .video-container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        background: $color-black;
        color: $color-white;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        width: 100%;
        padding-bottom: 60px;

        video {
          width: 100%;
          border-radius: 10px;
          cursor: pointer;
        }

        .progress-bar-container {
          position: absolute;
          bottom: 40px;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          gap: 16px;
          padding: 0 24px;
          box-sizing: border-box;

          .progress-container {
            flex: 1;
            height: 10px;
            background-color: $color-grey;
            cursor: pointer;
            position: relative;

            .progress-bar {
              height: 100%;
              background-color: $color-white;
            }

            .progress-hover {
              height: 100%;
              background-color: #ffffff66;
              position: absolute;
              top: 0;
              left: 0;
              pointer-events: none;
            }
          }

          span {
            display: inline;
          }
        }

        .controls {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 0 24px;
          box-sizing: border-box;
          z-index: 10000000000 !important;

          .control-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 8px;

            .btns-left {
              display: flex;
              gap: 12px;

              img {
                width: 32px !important;
                height: auto;
              }

              .volume-container {
                position: relative;
                display: inline-block;

                .volume-slider {
                  position: absolute;
                  right: -116px;
                  top: 50%;
                  transform: translateY(-50%);
                  padding: 5px;
                  z-index: 10;

                  input[type="range"] {
                    appearance: none;
                    width: 100px;
                    position: relative;
                    background-color: transparent;
                    // top: -5px;

                    &::-webkit-slider-runnable-track {
                      background-color: #b5b5b5 !important; // Farbe der Leiste
                      height: 5px;
                      position: relative;
                      top: -5px;
                    }

                    &::-webkit-slider-thumb {
                      appearance: none;
                      background-color: $color-white; // Farbe des Schiebereglers
                      border: 2px solid $color-white; // Rahmenfarbe des Schiebereglers
                      width: 15px;
                      height: 15px;
                      border-radius: 50%;
                      cursor: pointer;
                      position: relative;
                      top: -5px;
                    }

                    &::-moz-range-track {
                      background: #b5b5b5; // Farbe der Leiste in Firefox
                      height: 5px;
                      position: relative;
                      top: -5px;
                    }

                    &::-moz-range-thumb {
                      background: $color-white; // Farbe des Schiebereglers in Firefox
                      border: 2px solid $color-white; // Rahmenfarbe des Schiebereglers
                      width: 15px;
                      height: 15px;
                      border-radius: 50%;
                      cursor: pointer;
                      position: relative;
                      top: -5px;
                    }
                  }
                }
              }
            }

            .video-title {
              font-size: 24px;
              font-weight: 700;
            }

            .btns-right {
              position: relative;
              display: flex;
              justify-content: flex-end;
              gap: 12px;
              width: 164px;

              .resolution-menu {
                position: absolute;
                right: 80px;
                top: 2px;
                z-index: 10;

                ul {
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  display: flex;
                  gap: 8px;

                  li {
                    cursor: pointer;
                    text-align: center;

                    &.selected {
                      font-weight: bold;
                    }

                    &:last-child {
                      border-bottom: none;
                    }
                  }
                }
              }
            }
          }
        }

        .controls img {
          width: 24px;
          height: auto;
          cursor: pointer;
        }
      }
    }
  }
}

.video:fullscreen + .progress-bar-container,
.video:fullscreen + .controls {
  display: flex !important; // Sicherstellen, dass die benutzerdefinierten Controls im Fullscreen-Modus sichtbar sind
}

.video:fullscreen {
  z-index: 1 !important;
}

video::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}

.video-container:fullscreen {
  /* Optional: Falls weitere Stile für den Fullscreen-Modus benötigt werden */
  .controls {
    display: flex; // Ensure the custom controls are visible in fullscreen mode
  }
}
