<section>
  <div class="videoplayer-main">
    <div class="videoplayer-content">
      <div *ngIf="videoData" class="video-container">
        <div class="video-player">
          <video
            #videoPlayer
            class="video"
            (play)="startUpdatingProgress()"
            (pause)="stopUpdatingProgress()"
            (ended)="onVideoEnded()"
            (click)="playPause()"
            [src]="videoBasePath + videoname + '.mp4'"
          ></video>
        </div>

        <div class="progress-bar-container">
          <div
            class="progress-container"
            (click)="seek($event)"
            (mousemove)="onMouseMove($event)"
            (mouseleave)="resetHover()"
          >
            <div class="progress-bar" [style.width.%]="progress"></div>
            <div
              class="progress-hover"
              [style.width.%]="hoverProgress"
              *ngIf="hovering"
            ></div>
          </div>
          <span
            >{{ formatTime(currentTime) }} /
            {{ formatTime(videoDuration) }}</span
          >
        </div>

        <div class="controls">
          <div class="control-buttons">
            <div class="btns-left">
              <img
                (click)="playPause()"
                class="svg-white"
                [src]="
                  iconBasePath +
                  (isVideoEnded
                    ? 'replay.svg'
                    : isPlaying
                    ? 'pause.svg'
                    : 'play.svg')
                "
                alt="Play/Pause"
              />

              <img
                (click)="skip(-10)"
                class="svg-white"
                src="../../assets/img/icons/videoplayer/replay_10.svg"
                alt="Replay-10"
              />
              <img
                (click)="skip(10)"
                class="svg-white"
                src="../../assets/img/icons/videoplayer/forward_10.svg"
                alt="Forward-10"
              />

              <img
                (click)="toggleMute()"
                class="svg-white"
                [src]="iconBasePath + (isMuted ? 'volume.svg' : 'mute.svg')"
                alt="Sound/Mute"
              />
            </div>

            <div class="video-title">{{ videoData.title }}</div>

            <div class="btns-right">
              <img
                (click)="toggleResolutionMenu()"
                class="svg-white"
                src="../../assets/img/icons/videoplayer/tune.svg"
                alt="Tune"
              />
              <div class="resolution-menu" *ngIf="isResolutionMenuVisible">
                <ul>
                  <li (click)="setResolution(360)">360p</li>
                  <li (click)="setResolution(720)">720p</li>
                  <li (click)="setResolution(1080)">1080p</li>
                </ul>
              </div>
              <img
                (click)="toggleFullscreen()"
                class="svg-white"
                src="../../assets/img/icons/videoplayer/fullscreen_open.svg"
                alt="Fullscreen"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!videoData">
    <p>Video not found.</p>
  </div>
</section>
