<section>
  <div class="videooffer-main">
    <app-header></app-header>
    <div class="videooffer-content">
      <div class="preview-top">
        <div class="preview-text">
          <h1>Breakout</h1>
          <p>
            In a high-security prison, a wrongly convicted man formulates a
            meticulous plan to break out and prove his innocence. He must
            navigate a web of alliances and betrayals to reclaim his freedom and
            expose the truth.
          </p>
        </div>
      </div>
      <div class="categories">
        <app-category></app-category>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
