@import "../../shared/style/colors.scss";

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.95);

  .signup-main {
    width: 100%;
    max-width: 1440px !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
      url("../../../assets/img/background/log_in_bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

    .signup-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 520px;
      height: 500px;
      background-color: $color-white;
      border-radius: 48px;
      padding: 44px 56px;
      color: white;
      gap: 24px;
      margin: 0 96px;

      form {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 408px;
        gap: 32px;

        h1 {
          color: $color-purple;
          margin-bottom: 8px;
        }
      }

      .btn-default {
        margin-top: 8px;
      }

      a {
        color: $color-purple;
        font-size: 18px;
        font-weight: 700;
      }

      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

        h1 {
          color: $color-purple;
          text-align: center;
          padding-bottom: 16px;
        }

        p {
          color: $color-black;
          text-align: center;
        }
      }
    }
  }
}

.input-container {
  .input-default {
    border: 1px solid $color-purple;
    border-radius: 12px;
    color: $color-purple;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      color: $color-purple;
    }
  }

  label {
    color: $color-purple;
    font-weight: 500;
  }
}

@media (max-width: 800px) {
  .signup-content {
    margin: 0 32px !important;
    padding: 24px 32px !important;
  }
}

@media (max-width: 400px) {
  .signup-content {
    margin: 0 16px !important;
    padding: 24px 20px !important;
  }

  h1 {
    font-size: 40px;
  }

  .input-container input {
    padding: 20px 20px 4px 16px !important;
  }
}
