<section>
  <div class="signup-main">
    <app-header ngSkipHydration></app-header>
    <div class="signup-content">
      <form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="!formSubmitted">
        <h1>Sign Up</h1>

        <div class="input-error-container">
          <div class="input-container">
            <input
              class="input-default"
              type="email"
              id="email"
              [(ngModel)]="email"
              #emailInput="ngModel"
              (ngModelChange)="onEmailChange($event)"
              name="email"
              placeholder=" "
              required
            />
            <label for="email">Email Address</label>
          </div>
          <div class="input-error" [ngClass]="{ active: emailError }">
            <img
              src="../../../assets/img/icons/warning.svg"
              alt="email-format-warning"
            />
            <p>Invalid email format.</p>
          </div>
        </div>

        <div class="input-container">
          <input
            class="input-default"
            type="password"
            [(ngModel)]="password"
            #passwordInput="ngModel"
            [type]="showPassword ? 'text' : 'password'"
            name="password"
            placeholder=" "
            required
          />
          <label for="password">Enter a Password</label>
          <img
            src="../../../assets/img/icons/visibility.svg"
            alt="password visibility"
            class="passwordVisibility"
            (click)="togglePasswordVisibility()"
          />
        </div>

        <div class="input-error-container">
          <div class="input-container">
            <input
              class="input-default"
              type="password"
              [(ngModel)]="confirmPassword"
              #confirmPasswordInput="ngModel"
              [type]="showPassword ? 'text' : 'password'"
              name="confirmPassword"
              placeholder=" "
              required
            />
            <label for="confirmPassword">Confirm Password</label>
            <img
              src="../../../assets/img/icons/visibility.svg"
              alt="password visibility"
              class="passwordVisibility"
              (click)="togglePasswordVisibility()"
            />
          </div>

          <div class="input-error" [ngClass]="{ active: passwordError }">
            <img
              src="../../../assets/img/icons/warning.svg"
              alt="password-match-warning"
            />
            <p>Passwords must match.</p>
          </div>
        </div>

        <button
          class="btn-default"
          type="submit"
          [disabled]="!email || !password || !confirmPassword"
        >
          Get Started
        </button>
      </form>
      <div class="card" *ngIf="formSubmitted">
        <h1>Account created!</h1>
        <p>
          Thank you for registering. Please check your email inbox for a
          confirmation message.
        </p>
        <p>
          To complete your registration and activate your account, click on the
          link provided in the email.
        </p>
        <p>
          If you don’t see the email in your inbox, make sure to check your spam
          or junk folder.
        </p>

        <p>You can close this window now.</p>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
