<section>
  <div class="li-main">
    <app-header ngSkipHydration></app-header>
    <div class="li-content">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <h1>Sign Up</h1>

        <div class="input-error-container">
          <div class="input-container">
            <input
              class="input-default"
              type="email"
              id="email"
              [(ngModel)]="email"
              (ngModelChange)="onEmailChange($event)"
              name="email"
              placeholder=" "
              required
            />
            <label for="email">Email Address</label>
          </div>
          <div class="input-error" [ngClass]="{ active: emailError }">
            <img
              src="../../../assets/img/icons/warning.svg"
              alt="email-format-warning"
            />
            <p>Invalid email format.</p>
          </div>
        </div>

        <div class="input-container">
          <input
            class="input-default"
            type="password"
            [(ngModel)]="password"
            [type]="showPassword ? 'text' : 'password'"
            name="password"
            placeholder=" "
            required
          />
          <label for="password">Enter a Password</label>
          <img
            src="../../../assets/img/icons/visibility.svg"
            alt="password visibility"
            class="passwordVisibility"
            (click)="togglePasswordVisibility()"
          />
        </div>

        <div class="input-error-container">
          <div class="input-container">
            <input
              class="input-default"
              type="password"
              [(ngModel)]="confirmPassword"
              [type]="showPassword ? 'text' : 'password'"
              name="confirmPassword"
              placeholder=" "
              required
            />
            <label for="confirmPassword">Confirm Password</label>
            <img
              src="../../../assets/img/icons/visibility.svg"
              alt="password visibility"
              class="passwordVisibility"
              (click)="togglePasswordVisibility()"
            />
          </div>

          <div class="input-error" [ngClass]="{ active: passwordError }">
            <img
              src="../../../assets/img/icons/warning.svg"
              alt="password-match-warning"
            />
            <p>Passwords must match.</p>
          </div>
        </div>

        <button class="btn-default" type="submit">Get Started</button>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</section>
