<div class="category-main" *ngFor="let category of categories">
  <div class="category-content">
    <h2>{{ category.title }}</h2>
    <div class="category-videos">
      <div class="category-video" *ngFor="let video of category.videos">
        <img
          [src]="basePath + video.name + '_with_text.jpg'"
          [alt]="video.name"
          [class.disabled]="videoName === video.name && !convertionFinished"
          (click)="videoName === video.name && !convertionFinished ? $event.stopPropagation() : openVideoInfo(video.name)"
        />
        <p class="text" *ngIf="videoName === video.name">Converting video:</p>
        <p class="progress" *ngIf="videoName === video.name">{{ convertionProgress }} %</p>
      </div>
    </div>
  </div>
</div>
