<section>
  <div class="login-main">
    <app-header></app-header>
    <div class="login-content">
      <form (ngSubmit)="login()">
        <h1>Log in</h1>

        <div class="input-container">
          <input
            class="input-default mb-12"
            type="email"
            name="email"
            [(ngModel)]="email"
            #emailInput="ngModel"
            placeholder=" "
          />
          <label for="email">Email Address</label>
        </div>

        <div class="input-error-container">
          <div class="input-container">
            <input
              class="input-default"
              type="password"
              name="password"
              placeholder=" "
              [(ngModel)]="password"
              #passwordInput="ngModel"
              [type]="showPassword ? 'text' : 'password'"
              required
            />
            <label for="password">Password</label>
            <img
              src="../../../assets/img/icons/visibility.svg"
              alt="password visibility"
              class="passwordVisibility"
              (click)="togglePasswordVisibility()"
            />
          </div>
          <div class="input-error" [ngClass]="{ active: matchError }">
            <img
              src="../../../assets/img/icons/warning.svg"
              alt="password-match-warning"
            />
            <p>Email and password don't match.</p>
          </div>
        </div>

        <div class="remember-me">
          <input type="checkbox" id="rememberMe" />
          <label for="rememberMe">Remember me</label>
        </div>
        <button class="btn-default" [disabled]="!email || !password">
          Log in
        </button>
      </form>
      <a [routerLink]="['/forgotpassword']" class="forgot-pw"
        >Forgot password?</a
      >
      <div class="sign-up-link">
        <p>New to Videoflix?</p>
        <a [routerLink]="['/signup']">Sign up now</a>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
