@import "../../shared/style/colors.scss";

section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  box-sizing: border-box;

  .imprint-main {
    width: 100%;
    max-width: 1440px !important;
    // min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
    background: $color-black;

    .imprint-content {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      width: 100%;
      color: $color-white;
      padding: 156px 96px;
      gap: 16px;
      box-sizing: border-box;

      h1 {
        align-self: center;
        padding-bottom: 32px;
      }

      .section {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 24px;

        h2 {
          font-size: 32px;
          font-weight: 700;
        }

        h3 {
          font-size: 24px;
          font-weight: 600;
        }

        p {
          font-size: 16px;
          font-weight: 400;
        }

        a {
          color: $color-purple;

          &:hover {
            text-decoration: underline;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
