<div class="header-wrapper">
  <div class="header-content">
    <div class="logo-container">
      <img
        *ngIf="currentUrl === '/videos'"
        src="../../../../assets/img/icons/logo_no_text.svg"
        alt="Logo no text"
        routerLink="/"
        class="logo-no-text"
      />
      <img
        *ngIf="currentUrl !== '/videos'"
        src="../../../../assets/img/icons/logo_with_text.svg"
        alt="Logo with text"
        routerLink="/"
        class="logo-with-text"
      />
    </div>
    <button
      *ngIf="currentUrl === '/videos'"
      class="btn-default"
      (click)="logout()"
    >
      <div class="btn-content-wrapper">
        Log out
        <img
          src="../../../../assets/img/icons/logout.svg"
          alt="Logout Icon"
          class="icon-logout"
        />
      </div>
    </button>

    <button
      *ngIf="
        currentUrl === '/' ||
        currentUrl === '/login' ||
        currentUrl === '/signup' ||
        currentUrl === '/forgot-password' ||
        currentUrl === '/reset-password'
      "
      class="btn-default"
      routerLink="/login"
    >
      Log in
    </button>

    <img
      *ngIf="currentUrl === '/imprint' || currentUrl === '/dataprivacy'"
      routerLink="/videos"
      src="../../../../assets/img/icons/arrow_back.svg"
      alt="Logout Icon"
      class="icon-arrow"
    />
  </div>
</div>
