// @import "./app/shared/style/playfair.scss";
@import "./app/shared/style/colors.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans";
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $color-white;
}

.btn-default {
  background-color: $color-purple;
  color: $color-white;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 40px;
  border-width: 0;

  &:hover {
    cursor: pointer;
  }
}

.input-default {
  //   border: 1px solid $color-white;
  //   color: $color-white;
  //   border-radius: 40px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;

  &::placeholder {
    // color: $color-white;
    font-size: 18px;
    font-weight: 400;
  }
}

app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

app-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
