<div class="loader-container" *ngIf="isLoading">
  <div class="loader">
    <img class="spin" [src]="iconBasePath + 'waiting.svg'" alt="loading..." />
    <p>Loading...</p>
  </div>
</div>

<div class="popup-add-video-content">
  <form #myForm="ngForm" class="add-video-container" (ngSubmit)="uploadVideo()">
    <h2>Add your own video</h2>
    <p>You can upload up to three videos, each with a maximum size of 25 megabytes. The file type must be "mp4".</p>
    <div class="input-popup-container">
      <p class="title">Title:</p>
      <input class="input-default" type="text" name="videoTitle" [(ngModel)]="videoTitle" #videoNameInput="ngModel" placeholder=" " required />
    </div>
    <div class="input-popup-container">
      <p>Description:</p>
      <input
        class="input-default"
        type="text"
        name="videoDescription"
        [(ngModel)]="videoDescription"
        #videoNameInput="ngModel"
        placeholder=" "
        required
      />
    </div>

    <div class="sound-question-container">
      <p>Does the video have sound?</p>

      <div class="radio-btn-container">
        <label>
          <input type="radio" name="videoSound" [(ngModel)]="hasSound" [value]="true" />
          Yes
        </label>
        <label>
          <input type="radio" name="videoSound" [(ngModel)]="hasSound" [value]="false" />
          No
        </label>
      </div>
    </div>

    <div class="upload-container">
      <p>Upload your video</p>
      <div class="file-upload-wrapper">
        <label class="file-upload">
          <input type="file" (change)="onFileSelected($event)" accept=".mp4" required />
          <span>Select file</span>
        </label>
        <div class="file-name" *ngIf="selectedFile">
          {{ selectedFile.name }}
        </div>
      </div>
    </div>

    <div class="user-video-counter-container">
      <div class="upload-max-success" *ngIf="userVideoCounter <= 2">
        <img src="../../assets/img/icons/check_circle.svg" alt="" />
        <p *ngIf="userVideoCounter == 0 || userVideoCounter == 1">You can upload {{ 3 - userVideoCounter }} more videos</p>
        <p *ngIf="userVideoCounter == 2">You can upolad {{ 3 - userVideoCounter }} more video</p>
      </div>
      <div class="upload-max-error" *ngIf="userVideoCounter >= 3">
        <img src="../../assets/img/icons/warning.svg" alt="" />
        <p>You cannot upload more than 3 videos!</p>
      </div>
    </div>

    <div class="check-file-size-container">
      <div class="file-size-check" *ngIf="!fileInserted">
        <img src="../../../assets/img/icons/waiting.svg" alt="file-size-warning" />
        <p>Waiting for file to check size</p>
      </div>
      <div class="file-size-success" *ngIf="fileInserted && !fileSizeError">
        <img src="../../../assets/img/icons/check_circle.svg" alt="file-size-succes" />
        <p>File size accepted</p>
      </div>
      <div class="file-size-error" *ngIf="fileInserted && fileSizeError">
        <img src="../../../assets/img/icons/warning.svg" alt="file-size-warning" />
        <p>The size of your file is bigger than 25 megabytes.</p>
      </div>
    </div>

    <div class="btns-bottom">
      <button type="button" class="btn-default" (click)="closeAddVideoPopup()">
        <div class="btn-text">
          <img class="favorite-icon" src="../../../assets/img/icons/close_white.svg" alt="" />
          <p>Cancel</p>
        </div>
      </button>
      <button type="submit" class="btn-default" [disabled]="myForm.invalid || !selectedFile || userVideoCounter >= 3">
        <div class="btn-text">
          <img class="favorite-icon" src="../../../assets/img/icons/upload.svg" alt="" />
          <p>Upload</p>
        </div>
      </button>
    </div>
  </form>

  <div (click)="closeAddVideoPopup()" class="close-popup">
    <img src="../../assets/img/icons/close_black.svg" alt="" />
  </div>
</div>
