<section>
  <div class="rp-main">
    <app-header ngSkipHydration></app-header>
    <div class="rp-content">
      <form>
        <h1>Reset password</h1>
        <p>Create a new password for your <a href="#">Videoflix</a> account.</p>
        <div class="inputBox">
          <input
            class="input-default"
            type="password"
            placeholder="Enter a Password"
          />
          <img
            src="../../../assets/img/icons/visibility.svg"
            alt="password visibility"
            class="loginPwVisibility"
          />
        </div>
        <div class="inputBox">
          <input
            class="input-default"
            type="password"
            placeholder="Confirm Password"
          />
          <img
            src="../../../assets/img/icons/visibility.svg"
            alt="password visibility"
            class="loginPwVisibility"
          />
        </div>
        <div class="passwords-match">
          <img
            src="../../../assets/img/icons/warning.svg"
            alt="password-match-warning"
          />
          <p>Passwords must match.</p>
        </div>
        <button class="btn-default">Reset my password</button>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</section>
