<section>
  <div class="videooffer-main">
    <app-header></app-header>
    <div class="videooffer-content">
      <div class="preview-top">
        <div class="preview-text">
          <!-- Load Data from Service -->
          <h1>Breakout</h1>
          <p>
            In a high-security prison, a wrongly convicted man formulates a
            meticulous plan to break out and prove his innocence. He must
            navigate a web of alliances and betrayals to reclaim his freedom and
            expose the truth.
          </p>
        </div>
      </div>
      <div class="categories">
        <app-category></app-category>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  <div class="overlay" *ngIf="selectedVideo" (click)="closePopup()"></div>

  <div class="popup" *ngIf="selectedVideo">
    <div class="popup-content">
      <div class="content-top">
        <img
          [src]="basePathThumb + videoData?.name + '.jpeg'"
          [alt]="videoData?.name"
        />
      </div>
      <div class="content-bottom">
        <div class="categories">
          <div class="category" *ngFor="let category of videoData?.categories">
            {{ category }}
          </div>
        </div>
        <p>{{ videoData?.description }}</p>
        <button class="btn-default" (click)="openVideo(videoData?.name || '')">
          <div class="btn-text">
            Start
            <p>></p>
          </div>
        </button>
      </div>
      <div (click)="closePopup()" class="close-popup">
        <img src="../../assets/img/icons/close.svg" alt="" />
      </div>
    </div>
  </div>
</section>
