<section>
  <div class="videooffer-main">
    <app-header></app-header>
    <div class="videooffer-content">
      <div class="preview-top" *ngIf="previewVideo">
        <video
          #videoPlayer
          class="video-background"
          (mouseenter)="playVideo()"
          (mouseleave)="pauseVideo()"
          (ended)="replayVideo()"
          [src]="videoBasePath + previewVideo.name + '_720p.mp4'"
        ></video>
        <div class="video-overlay"></div>
        <div class="preview-text">
          <h1>{{ previewVideo.title }}</h1>
          <p>{{ previewVideo.description }}</p>
          <button
            class="btn-default"
            (click)="openVideo(previewVideo?.name || '')"
          >
            <div class="btn-text">
              <img src="../../assets/img/icons/play.png" alt="" />
              Play
            </div>
          </button>
        </div>
      </div>
      <div class="categories">
        <app-category></app-category>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

  <div
    class="overlay"
    *ngIf="selectedVideoName"
    (click)="triggerCloseOpenVideoPopup()"
  ></div>

  <div
    class="overlay"
    *ngIf="editVideoName"
    (click)="closeEditVideoPopup()"
  ></div>

  <div
    class="overlay"
    *ngIf="isAddVideoPopupVisible"
    (click)="triggerCloseAddVideoPopup()"
  ></div>

  <div class="popup" *ngIf="isAddVideoPopupVisible">
    <app-addvideopopup></app-addvideopopup>
  </div>

  <div class="popup" *ngIf="editVideoName">
    <div class="popup-addvideo-content">
      <form
        #myForm="ngForm"
        class="add-video-container"
        (ngSubmit)="saveEditedVideo()"
      >
        <h2>Edit your video</h2>

        <div class="input-popup-container">
          <p>Title:</p>
          <input
            class="input-default"
            type="text"
            name="videoTitle"
            [(ngModel)]="videoTitle"
            #videoNameInput="ngModel"
            placeholder=" "
            required
          />
        </div>
        <div class="input-popup-container">
          <p>Description:</p>
          <input
            class="input-default"
            type="text"
            name="videoDescription"
            [(ngModel)]="videoDescription"
            #videoNameInput="ngModel"
            placeholder=" "
            required
          />
        </div>

        <div class="sound-question-container">
          <p>Does the video have sound?</p>

          <div class="radio-btn-container">
            <label>
              <input
                type="radio"
                name="videoSound"
                [(ngModel)]="hasSound"
                [value]="true"
              />
              Yes
            </label>
            <label>
              <input
                type="radio"
                name="videoSound"
                [(ngModel)]="hasSound"
                [value]="false"
              />
              No
            </label>
          </div>
        </div>

        <div class="upload-container">
          <p>Upload Your Video</p>
          <label class="file-upload">
            <input
              type="file"
              (change)="onFileSelected($event)"
              accept=".mp4"
              required
            />
            <span>Select a file</span>
          </label>
          <div class="file-name" *ngIf="selectedFile">
            {{ selectedFile.name }}
          </div>
        </div>

        <div class="btns-bottom">
          <button
            type="button"
            class="btn-default"
            (click)="closeEditVideoPopup()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn-default"
            [disabled]="myForm['invalid']"
          >
            Save
          </button>
        </div>
      </form>

      <div (click)="closeEditVideoPopup()" class="close-popup">
        <img src="../../assets/img/icons/close_black.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="popup" *ngIf="selectedVideoName">
    <app-openvideopopup
      [selectedVideoName]="selectedVideoName"
      (closePopupEvent)="closePopup()"
    ></app-openvideopopup>
  </div>
</section>
