<section>
  <div class="videooffer-main">
    <app-header></app-header>
    <div class="videooffer-content">
      <div class="preview-top">
        <div class="preview-text">
          <!-- Load Data from Service -->
          <h1>Breakout</h1>
          <p>
            <!-- Daten aus DataService laden -->
            In a high-security prison, a wrongly convicted man formulates a
            meticulous plan to break out and prove his innocence. He must
            navigate a web of alliances and betrayals to reclaim his freedom and
            expose the truth.
          </p>
        </div>
      </div>
      <div class="categories">
        <app-category></app-category>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  <div class="overlay" *ngIf="selectedVideo" (click)="closePopup()"></div>

  <div class="popup" *ngIf="selectedVideo">
    <div class="popup-content">
      <div class="content-top">
        <img
          [src]="thumbBasePath + videoData?.name + '.jpeg'"
          [alt]="videoData?.name"
        />
      </div>
      <div class="content-bottom">
        <div class="categories">
          <div class="category" *ngFor="let category of videoData?.categories">
            {{ category }}
          </div>
        </div>
        <p>{{ videoData?.description }}</p>
        <div class="btns-bottom">
          <button
            class="btn-default"
            (click)="openVideo(videoData?.name || '')"
          >
            <div class="btn-text">
              Start
              <img src="../../assets/img/icons/play.png" alt="" />
            </div>
          </button>

          <button
            class="btn-default"
            (click)="addToOrRemoveFromFavorites()"
            *ngIf="!isFavorite()"
          >
            <div class="btn-text">
              Add to Favorites
              <img
                class="play-icon"
                src="../../assets/img/icons/favorite.svg"
                alt=""
              />
            </div>
          </button>

          <button
            class="btn-default"
            (click)="addToOrRemoveFromFavorites()"
            *ngIf="isFavorite()"
          >
            <div class="btn-text">
              Remove from Favorites
              <img src="../../assets/img/icons/favorite_remove.svg" alt="" />
            </div>
          </button>
        </div>
      </div>
      <div (click)="closePopup()" class="close-popup">
        <img src="../../assets/img/icons/close.svg" alt="" />
      </div>
    </div>
  </div>
</section>
